<nz-table [nzData]="trails">
  <thead>
    <tr>
      <th>Trail</th>
      <th>Place</th>
      <th>Distance (km)</th>
      <th>Difficulty</th>
      <th>Estimated Time</th>
      <th>Accessible</th>
      <th>Loop</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let trail of trails">
      <td>{{ trail.name }}</td>
      <td>{{ trail.place.name }}</td>
      <td>{{ trail.distanceKm | number:'1.1-2' }}</td>
      <td>
        <nz-tag [nzColor]="getDifficultyColor(trail.difficulty)" [nzBordered]="false">
          {{ trail.difficulty | titlecase }}
        </nz-tag>
      </td>
      <td>{{ trail.estimatedTimeMinutes }} min</td>
      <td>
        <nz-tag [nzColor]="trail.place.accessible ? 'green' : 'red'" [nzBordered]="false">
          {{ trail.place.accessible ? 'Sí' : 'No' }}
        </nz-tag>
      </td>
      <td>
        <nz-tag [nzColor]="trail.isLoop ? 'blue' : 'orange'" [nzBordered]="false">
          {{ trail.isLoop ? 'Loop' : 'Out & Back' }}
        </nz-tag>
      </td>
    </tr>
  </tbody>
</nz-table>
